@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

body {
  --font-family: "Lato", sans-serif;
}

.conteiner {
  font-family: var(--font-family);
  width: 1140px;
  margin: 0 auto;
}

.header {
  position: relative; /* Для позиционирования псевдоэлемента */
  background-color: transparent; /* Убираем цвет фона у основного блока */
}

.header::after {
  content: ''; /* Необходимо для создания псевдоэлемента */
  position: absolute;
  top: 0; /* Расположение полосы сверху блока */
  left: 50%; /* Центрирование полосы */
  width: 1600px; /* Ширина полосы */
  height: 75px; /* Высота полосы, как у фонового изображения */
  background-color: #222; /* Цвет фона полосы */
  transform: translateX(-50%); /* Смещение полосы на половину её ширины влево */
  z-index: -1; /* Полоса будет под содержимым блока .header */
}

.head_menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu_left_site {
  display: flex;
  align-items: center;
  column-gap: 41px;
  /* justify-content: flex-start; */
  /* margin-left: 231px; */
}

.menu_logo {
}

.button_menu_icon_search {
  fill: #e8e8e8;
  background-color: transparent;
  border: none;
}

.menu_rigth_site {
  display: flex;
  align-items: center;
  column-gap: 33px;
  /* justify-content: flex-end; */
  /* margin-right: 240px; */
}

.button_menu_icon_menu {
  fill: #e8e8e8;
  background-color: transparent;
  border: none;
  margin-top: 30px;
  margin-bottom: 22px;
}

.button_menu_icon_profile {
  fill: #e8e8e8;
  background-color: transparent;
  border: none;
  margin-top: 26px;
  margin-bottom: 20px;
}

.button_menu_icon_backed {
  fill: #e8e8e8;
  background-color: transparent;
  border: none;
  margin-top: 26px;
  margin-bottom: 20px;
}

.baner_backround {
  width: 1600px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background: rgb(241, 228, 230);
  font-family: var(--font-family);
}

.banner_image {
  width: 800px;
  height: 764px;
}

.baner_rigth_line_text {
  width: 405px;
  height: 93px;
  border-left: 12px solid #f16d7f;
  margin-left: 63px;
}

.baner_rigth_line_text_h1 {
  font-weight: 900;
  font-size: 48px;
  color: #222;
  margin-left: 16px;
}

.baner_rigth_line_text_h2 {
  font-weight: 700;
  font-size: 32px;
  margin-left: 16px;
}

.head_baner_color_text {
  font-weight: 700;
  font-size: 32px;
  color: #f16d7f;
}

.main {

}

.offer_box {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  max-width: 1140px;
  max-height: 470px;
  justify-content: center;
  align-content: center;
  column-gap: 30px;
  row-gap: 30px;
  padding-top: 65px;
  padding-bottom: 96px;
}

.image_mask {
  width: 100%;
  height: 100%;
  background-image: url(./img/mask_firt_box.png);
  fill: rgba(33, 22, 22, 0.7);
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.image_mask_long {

}

.text_card {
  
}

.baner_color_text_h3 {
  font-weight: 400;
  font-size: 16px;
  text-align: center;
  color: #fff;
}

.baner_color_text_h2 {     
  font-weight: 700;
  font-size: 24px;
  color: #f16d7f;
  text-align: center;
}

.frst_card_image_1 {
  width: 360px;
  height: 260px;
  background-image: url("./img/backround_for_women.png");
}

.second_card_image_2 {
  width: 360px;
  height: 260px;
  background-image: url("./img/backround_for_men.png");
}

.Third_card_image_3 {
  width: 360px;
  height: 260px;
  background-image: url("./img/backround_for_kinds.png");
}

.Four_card_image_4 {
  width: 1140px;
  height: 180px;
  background-image: url("./img/backround_accesories.png");
  grid-column: 1 / -1;
  grid-row: 2;
}

.product {
  display: grid;
  justify-items: center;
}

.product_box {
  width: 1140px; 
  justify-items: center; 
  padding-bottom: 95px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
  gap: 30px; 
}

.title_text_second_box_h1 {
  font-weight: 400;
  font-size: 30px;
  color: #222;
  grid-column: 1 / -1;
  margin-bottom: 6px;
  display: flex;
}

.title_text_second_box_h2 {
  font-weight: 400;
  font-size: 14px;
  color: #9f9f9f;
  grid-column: 1 / -1;
  margin-bottom: 48px;
  display: flex;
}

.Item_box_text {
  margin: 16px 24px;
}

.text_item_box_h1 {
  font-weight: 400;
  font-size: 13px;
  color: #000;
}

.text_item_box_h3 {
  font-weight: 300;
  font-size: 14px;
  color: #5d5d5d;
  margin: 16px 0;
}

.price_text_box_h2 {
  font-weight: 400;
  font-size: 16px;
  color: #f16d7f;
  color: rgb(241, 109, 127);
}

.Item_box_image_1 {
  width: 360px;
  height: 587px;
  background: rgb(248, 248, 248);
}

.Item_box_image_2 {
  width: 360px;
  height: 587px;
  background: rgb(248, 248, 248);
} 

.Item_box_image_3 {
  width: 360px;
  height: 587px;
  background: rgb(248, 248, 248);
}

.Item_box_image_4 {
  width: 360px;
  height: 587px;
  background: rgb(248, 248, 248);
}

.Item_box_image_5 {
  width: 360px;
  height: 587px;
  background: rgb(248, 248, 248);
}

.Item_box_image_6 {
  width: 360px;
  height: 587px;
  background: rgb(248, 248, 248);
}

.brouse_button {
  background-color: transparent;
  font-weight: 400;
  font-size: 16px;
  width: 211px;
  height: 47px;
  border: 1px solid rgb(255, 106, 106);
  color: #f16d7f;
  grid-column: 2 / -2;
  margin-top: 48px;
}

@media(min-width: 768px) and (max-width: 1140px) {

  .conteiner {
    width: 100%;
  }

  .header::after {
    width: 100%; 
    max-width: 1140px; 
  }

  .menu_left_site {
    margin-left: 32px;
  }

  .menu_rigth_site {
    margin-right: 41px;
  }
  
  .baner_backround {
    max-width: 1140px;
  }

  .baner_rigth_line_text {
    width: 311px;
    height: 92px;
    border-left: 12px solid #f16d7f;
    margin-left: 39px;
  }
  
  .baner_rigth_line_text_h1 {
    font-weight: 900;
    font-size: 44px;
    color: #222;
    margin-left: 16px;
  }
  
  .baner_rigth_line_text_h2 {
    font-weight: 700;
    font-size: 24px;
    margin-left: 16px;
  }
  
  .head_baner_color_text {
    font-weight: 700;
    font-size: 24px;
  }

  .banner_image {
    width: 386px;
    height: 386px;
  }

  .offer_box {
    max-width: 736px;
    max-height: 303px;
    column-gap: 20px;
    row-gap: 20px;
    padding-bottom: 110px;
  }

  .frst_card_image_1 {
    width: 232px;
    height: 167px;
    background-size: cover;
  }

  .second_card_image_2 {
    width: 232px;
    height: 167px;
    background-size: cover;
  }

  .Third_card_image_3 {
    width: 232px;
    height: 167px;
    background-size: cover;
  }

  .Four_card_image_4 {
    width: 736px;
    height: 116px;
    background-size: cover;
  }

  .title_text_second_box_h1 {
    margin-bottom: 4px;
  }
  
  .title_text_second_box_h2 {
    margin-bottom: 74px;
  }

  .product_box {
    max-width: 736px;
    padding-bottom: 65px;
    gap: 16px; 
  }

  .Item_box_image_1 {
    height: 581px;
  }
  
  .Item_box_image_2 {
    height: 581px;
  } 
  
  .Item_box_image_3 {
    height: 581px;
  }
  
  .Item_box_image_4 {
    height: 581px;
  }
  
  .Item_box_image_5 {
    height: 581px;
  }
  
  .Item_box_image_6 {
    height: 581px;
  }

  .brouse_button {
    grid-column: 1 / -1;
    margin-top: 32px;
  }
}