@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

body {
  --font-family: "Lato", sans-serif;
}

.conteiner {
  font-family: var(--font-family);
  max-width: 100%;
  margin: 0 auto;
  padding: 0;
  /* Гриды под вопросом */
  /* display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 30px; */
}

.header {
}

.head_menu {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  background-image: url("./img/menu_fon.svg");
  fill: #222;
}

.menu_left_site {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  column-gap: 41px;
  margin-left: 231px;
}

.menu_logo {
}

.button_menu_icon_search {
  /* content: url(./img/icon_search.svg);
  fill: #e8e8e8; */
  background-color: transparent;
  border: none;
}

.menu_rigth_site {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  column-gap: 33px;
  margin-right: 240px;
}

.button_menu_icon_menu {
  /* content: url(./img/icon_menu.svg);
  fill: #e8e8e8; */
  background-color: transparent;
  border: none;
  margin-top: 30px;
  margin-bottom: 22px;
}

.button_menu_icon_profile {
  /* content: url(./img/icon_profile.svg);
  fill: #e8e8e8; */
  background-color: transparent;
  border: none;
  margin-top: 26px;
  margin-bottom: 20px;
}

.button_menu_icon_backed {
  /* content: url(./img/icon_basked.svg);
  fill: #e8e8e8; */
  background-color: transparent;
  border: none;
  margin-top: 26px;
  margin-bottom: 20px;
}

.baner_backround {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: rgb(241, 228, 230);
}

.banner_image {
  width: 800px;
  height: 764px;
}

.baner_rigth_line_text {
  width: 405px;
  height: 93px;
  border-left: 12px solid #f16d7f;
  margin-right: 331px;
}

.baner_rigth_line_text h1 {
  font-weight: 900;
  font-size: 48px;
  color: #222;
}

.baner_rigth_line_text h2 {
  font-weight: 700;
  font-size: 32px;
}

.main {
}

.offer_box {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  max-width: 1140px;
  max-height: 470px;
  justify-content: center;
  align-content: center;
  margin-left: auto;
  margin-right: auto;
  column-gap: 30px;
  row-gap: 30px;
}

.image_mask {
  
  background-image: url(./img/mask_firt_box.svg);
  fill: rgba(33, 22, 22, 0.7);
  background-position: center;
  opacity: 0.7;
}

.image_mask_long {

}

.text_card {
  color: white;
  text-align: center;
  
}

.baner_color_text {
  color: #f16d7f;
}

.frst_card_image_1 {
  width: 360px;
  height: 260px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("./img/backround_for_women.png");
}

.second_card_image_2 {
  width: 360px;
  height: 260px;
}

.Third_card_image_3 {
  width: 360px;
  height: 260px;
}

.Four_card_image_4 {
  width: 1140px;
  height: 180px;
  grid-column: 1 / -1;
  grid-row: 2;
}

.product_box {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 1140px;
  height: 1395px;
  justify-items: center;
  justify-content: center;
  align-content: center;
  column-gap: 30px;
  row-gap: 30px;
}

.title_text_second_box_h1 {
  grid-column: 1 / -1;
  grid-row: 1;
  margin-bottom: 6px;
}

.title_text_second_box_h2 {
  grid-column: 1 / -1;
  grid-row: 2;
}

.Item_box_image_1 {
  background: rgb(248, 248, 248);
}

.text_item_box_h1 {
  font-weight: 400;
  font-size: 13px;
  color: #000;
}

.text_item_box_h3 {
  font-weight: 300;
  font-size: 14px;
  color: #5d5d5d;
}

.price_text_box_h2 {
  font-weight: 400;
  font-size: 16px;
  color: #f16d7f;
  /* color: rgb(241, 109, 127); */
}

.Item_box_image_2 {
  background: rgb(248, 248, 248);
}

.Item_box_image_3 {
  background: rgb(248, 248, 248);
}

.Item_box_image_4 {
  background: rgb(248, 248, 248);
}

.Item_box_image_5 {
  background: rgb(248, 248, 248);
}

.Item_box_image_6 {
  background: rgb(248, 248, 248);
}

.brouse_button {
  background-color: transparent;
  width: 211px;
  height: 47px;
  border: 1px solid rgb(255, 106, 106);
}
