@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

body {
  --font-family: "Inter", sans-serif;
}

.conteiner {
  max-width: 1174px;
  margin: 0 auto;
}

.header {
  margin-bottom: 84px;
}

.headerContent {
  padding-top: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.headerContent_menu {
  display: flex;
  justify-content: space-between;
  gap: 14px;
  align-items: center;
  width: 577px;
}

.headerContent_img_logo {
  width: 137px;
  height: 40px;
  padding-right: 460px;
}

.headerContent_Home_style {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 14px;
  color: #f25822;
}

.headerContent_style {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  color: #000;
}

.headerContent_style_triangyl::after {
  content: url(./img/menu_triangyl.svg);
  margin-left: 6px;
}

.main {
  margin-bottom: 100px;
  padding-left: 373px;
  padding-right: 373px;
}

.mainContent {
  display: flex;
  justify-content: first baseline;
}

.mainContent_text_blok {
  max-width: 556px;
}

.mainContent_style_h1 {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 60px;
  line-height: 120%;
  color: #000;
  margin-bottom: 20px;
}

.mainContent_style_p {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 20px;
  line-height: 140%;
  color: #888;
  margin-bottom: 32px;
}

.mainContent_button_flex_all {
  display: flex;
  justify-content: flex-start;
  gap: 48px;
  align-items: center;
}

.mainContent_style_but_start {
  border-radius: 56px;
  padding: 16px 10px;
  width: 140px;
  height: 51px;
  box-shadow: 4px 4px 8px 0 rgba(242, 88, 34, 0.2);
  background: #f25822;
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 16px;
  color: #fff;
  border: none;
}

.mainContent_style_but_wath {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 16px;
  color: #aaa;
  border: none;
  background: transparent;
}

.mainContent_img_main {
  max-width: 545px;
  height: 375px;
  margin-left: 73px;
  margin-bottom: 100px;
}

.down_logo_Content {
  display: flex;
  justify-content: space-between;
  gap: 48px;
  width: 100%;
  margin-top: 100px;
  margin-bottom: 100px;
}

.down_logo_Content_img {
  width: 134px;
  height: 50px;
}

.features {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  place-items: center;
  grid-template-columns: auto auto auto;
  column-gap: 61px;
  max-width: 1920px;
  max-height: 510px;
  padding-top: 100px;
  padding-bottom: 100px;
}

.card_features_1 {
  max-width: 310px;
  max-height: 230px;
}

.card_features_2 {
  padding: 40px 34px;
  max-width: 378px;
  max-height: 310px;
  box-shadow: 15px 25px 56px 6px rgba(0, 0, 0, 0.06);
  background: #fff;
}

.card_features_3 {
  max-width: 310px;
  max-height: 230px;
}

.features_img_1 {
  content: url(./img/features_icon_red.svg);
  padding-bottom: 25px;
}

.features_img_2 {
  content: url(./img/features_icon_green.svg);
  padding-bottom: 25px;
}

.features_img_3 {
  content: url(./img/features_icon_yeelow.svg);
  padding-bottom: 25px;
}

.features_style_h1 {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 24px;
  color: #000;
  padding-bottom: 18px;
}

.features_text_block {
  max-width: 310px;
  max-height: 89px;
}

.features_style_h2 {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: #666;
}

.features_style_h3 {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 14px;
  line-height: 150%;
  color: #000;
  padding-top: 25px;
}

.services {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  max-width: 1920px;
  max-height: 916px;
  padding-top: 100px;
  padding-bottom: 100px;
  background: rgb(250, 250, 250);
}

.services_titel {
  display: flex;
  flex-direction: column;
  max-width: 1174px;
  max-height: 126px;
  margin-bottom: 48px;
  grid-column: 1 / -1;
  grid-row: 1;
}

.services_titel_h1 {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 48px;
  line-height: 120%;
  text-align: center;
  color: #000;
  margin: 0 256px;
  margin-bottom: 24px;
}

.services_titel_h2 {
  margin: 0 217px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  text-align: center;
  color: #888;
  margin-bottom: 48px;
}

.services_box {
  display: flex;
  flex-direction: row;
  justify-content: center;
  column-gap: 20px;
  max-width: 1174px;
  max-height: 542px;
  grid-column: 2 / -2;
  grid-row: 2;
}

.services_card_1 {
  padding: 0px 34px 34px 34px;
  width: 378px;
  max-height: 542px;
  background: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.services_card_2 {
  padding: 0px 34px 34px 34px;
  width: 378px;
  max-height: 542px;
  box-shadow: 15px 25px 56px 6px rgba(0, 0, 0, 0.06);
  background: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.services_card_3 {
  padding: 0px 34px 34px 34px;
  width: 378px;
  max-height: 542px;
  background: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.service_img {
  width: 378px;
  height: 284px;
  margin-bottom: 32px;
}

.services_style_h1 {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 24px;
  text-align: center;
  color: #000;
  margin-bottom: 16px;
}

.services_style_h2 {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  color: #666;
  margin-bottom: 24px;
}

.service_button {
  border-radius: 56px;
  padding: 16px 32px;
  width: 166px;
  height: 51px;
  box-shadow: 4px 4px 8px 0 rgba(242, 88, 34, 0.2);
  background: #f25822;
}

.service_button_text {
  display: flex;
  justify-content: center;
  margin: 16px 0;
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 16px;
  color: #fff;
}
